
@media screen and (width < 675px) {
  .config{
    width: 450px;
  }
}

@media screen and (width < 450px) {
  .config{
    width: 350px;
  }
  input{
    width: 150px;
  }
}
@media screen and (width < 390px) {
  span{
    font-size: 6rem;
  }
}