
@media screen and (width < 675px) {
  .config{
    width: 450px;
  }
}

@media screen and (width < 450px) {
  .config{
    width: 350px;
  }
  input{
    width: 150px;
  }
}
@media screen and (width < 390px) {
  span{
    font-size: 6rem;
  }
  .next-container{
    width: 15rem;
  }
  .next-icon{
    right: 0;
  }
}

@media screen and (width < 350px) {
  .config{
    width: 290px;
  }
  input{
    width: 110px;
  }
}